{% extends 'register/layout.html' %}
{% load static %}
{% block body %}
<div class="content">
    <h1>Forms submitted.</h1>
    <div class="info">
        
      
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Given name</th>
                        <th scope="col">Other names</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Applicant eligibility</th>
                        <th scope="col">Date of birth</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in forms %}
                    <tr>
                        <td>{{ form.id }}</td>
                        <td>
                            <a href="{% url 'register:form' form.id %}">
                                {{ form.surname }}
                            </a>
                        </td>
                        <td>{{ form.given_name }}</td>
                        <td>{{ form.other_name }}</td>
                        <td>{{ form.sex }}</td>
                        <td>{{ form.eligibility }}</td>
                        <td>{{ form.date_of_birth }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
      
        
    </div>
</div>
{% endblock %}
