
{% extends 'register/layout.html' %}
{% load static %}
{% block body %}
<div class="content">
  <h2 class="welcome">Welcome to</h2>
  <h1 class="welcome"> National ID Registration System (NIRS)</h1>
     
       <!-- charts-->
       <div class="visual">

       
          <div class="row-md-6" id="graph-container">
            
          </div>
        
      </div>
      
     
    <div class="intro">
      <div class="img">
        <img src="{% static 'register/nira.png'%}" alt="" srcset="">
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium molestias corporis incidunt animi ipsa alias eligendi fuga? Similique odio nemo sunt dolore suscipit quo iste, pariatur aut enim! Porro, adipisci!</p>
      </div>
    </div>
    <br>
    <br>

 
    <div class="card bg-dark text-white">
      <img width="200px" height="300px" src="{% static 'register/bq.jpg'%}" class="card-img-top" alt="logo">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">An email will be sent to you after your application has been processed</p>
        </div>
    </div>
    <br>


    <div class="intro">
      <div class="col-md-4">
        <img src="{% static 'register/payway.png'%}"  alt="" srcset="">
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium molestias corporis incidunt animi ipsa alias eligendi fuga? Similique odio nemo sunt dolore suscipit quo iste, pariatur aut enim! Porro, adipisci!</p>
      </div>
    </div>

    <div class="instruction">
      <h5>procedures on how to register online</h5>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus illo pariatur totam corrupti delectus omnis minus aspernatur qui hic sequi rem quidem, vitae quae dolorum error, iure praesentium minima alias?</p>
      <br>
      <ul>
        <li class="point">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus veritatis cumque officia eum, natus qui modi nemo tempora? Sapiente tempore earum, numquam quo fuga aspernatur veniam repellat adipisci molestias inventore.</li>
        <li class="point">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus veritatis cumque officia eum, natus qui modi nemo tempora? Sapiente tempore earum, numquam quo fuga aspernatur veniam repellat adipisci molestias inventore.</li>
        <li class="point">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus veritatis cumque officia eum, natus qui modi nemo tempora? Sapiente tempore earum, numquam quo fuga aspernatur veniam repellat adipisci molestias inventore.</li>
        <li class="point">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus veritatis cumque officia eum, natus qui modi nemo tempora? Sapiente tempore earum, numquam quo fuga aspernatur veniam repellat adipisci molestias inventore.</li>
        <li class="point">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus veritatis cumque officia eum, natus qui modi nemo tempora? Sapiente tempore earum, numquam quo fuga aspernatur veniam repellat adipisci molestias inventore.</li>
      </ul>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod distinctio facere assumenda ipsa earum nam laboriosam incidunt? Nisi, vitae est consequatur quod laborum, illo perferendis, nam eaque animi enim sed.</p>
    </div>

</div>
<br>
<br>
{% endblock %}
